@-ms-viewport{
  width: device-width;
}

img {
  width: 60%;
  height: auto;
  /*border: solid 10px gray;*/
  border-radius: 40px;
}

.linksDiv {
  width: 100%;
  text-align: center;
  margin: auto;
}

.linksDiv a {
  display: inline-block;
}

html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}

body {
  display:  flex;
  min-height: 100vh;
  flex-direction: column;

}

header {
  background-color: yellow;
  text-align: right;
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;

}

main {
  background-color: purple;
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: teal;
}

.bodyDiv {
  position: absolute;
  overflow-y: auto;
  background-color: lime;
  height: 100%;
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.nameDiv {
  background-color: pink;
  margin: 10px;
}

/*.container-fluid {
  flex-direction: row;
  flex-wrap: nowrap;
}

.container-fluid .body {
  margin-bottom: auto;
  align-items: flex-start;
  flex: 1;
}

#profileDiv {
  order: 1;
  flex-grow: 3;
  height: 90%;
  margin: auto;
}

#nameDiv {
  order: 2;
  flex-grow: 1;
  text-align: center;
  height: 100%;
  background-color: silver;
}

.container-fluid .footer {
  margin-top: auto;
  align-items: flex-end;
  flex: 2;
}*/
